{% extends 'base.html.twig' %}

{% block title %}Acceuille
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/login.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block body %}

	{# Dans votre modèle de vue Twig #}
	{% if name is not null %}
		<p>Bienvenue,
			{{name}}</p>
		<a href="{{ path('app_deconnexion') }}">Déconnexion</a>

		{# Importer page acceuille #}

	{% else %}
		<p>Bienvenue</p>
		{#Importer la page d'acceuille#}
	{% endif %}
{% endblock %}
