{% extends 'base.html.twig' %}

{% block title %}
	Hello AdminController!
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block body %}
	<div class="main">
		<a href="{{ path('app_deconnexion') }}">Déconnexion</a>
		<h1>
			Bienvenu
			{{ name }}!
			<br>
			Il s'agit de votre panel admin
		</h1>

		{% embed './Admin/listeUtilisateur.html.twig' %}
			{% block content %}{% endblock %}
		{% endembed %}

	</div>
{% endblock %}
