{% extends 'base.html.twig' %}

{% block title %}
	Modifier un utilisateur
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<style>
		form {
			max-width: 400px;
			margin: 0 auto;
		}

		label {
			font-weight: bold;
		}

		input[type="text"],
		input[type="password"],
		select {
			width: 100%;
			padding: 10px;
			margin-bottom: 10px;
			border: 1px solid #ccc;
			border-radius: 4px;
		}

		button[type="submit"] {
			background-color: #007BFF;
			color: #fff;
			border: none;
			padding: 10px 20px;
			border-radius: 4px;
			cursor: pointer;
		}

	</style>
{% endblock %}

{% block body %}
	<h1>Mise à jour de l'utilisateur</h1>

	<form method="post">
		<label for="username">Nom d'utilisateur</label>
		<input type="text" id="username" name="username" placeholder="{{user.username}}" required>

		<label for="email">Email de l'utilisateur</label>
		<input type="text" id="email" name="email" placeholder="{{user.email}}" required>

		<label for="password">Mot de passe</label>
		<input type="password" id="password" name="password" placeholder="CHANGER PAR L'ENVOIE D'EMAIL AUTO" required>

		<label for="role">Rôle :
			{% if user.role|join(', ') == "ROLE_USER" %}
				Utilisateur
			{% else %}
				ADMINISTRATEUR
			{% endif %}
		</label>

		<select name="role">
			<option value="ROLE_USER">UTILISATEUR</option>
			<option value="ROLE_ADMIN">ADMINISTRATEUR</option>
		</select>

		<button type="submit">Modifier l'utilisateur</button>
	</form>
{% endblock %}
