{% extends 'base.html.twig' %}

{% block title %}CONNEXION
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/login.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Connexion</h1>

		<form method="post">
			<label for="email_or_username">Email ou nom d'utilisateur</label>
			<input type="text" id="email_or_username" name="email_or_username" required>

			<label for="password">Mot de passe</label>
			<input type="password" id="password" name="password" required>

			<button type="submit">Se connecter</button>
		</form>
	</div>
{% endblock %}
